:root {
    --primary-color: #BFBFBF;
    --secondary-color: #AFB8A8;
    --tertiary-color: #38383B;
    --black-color: #000000;

    --main-font: Arial, sans-serif;
    --title-font: 'Times New Roman', Times, serif;

    --page-max-width: 1800px;
    --site-margin: 4vw;
}

body {
    background-color: var(--primary-color);
    font-family: var(--main-font);
    color: var(--tertiary-color);
    max-width: var(--page-max-width);
    margin: var(--site-margin);
}

h1, h2 {
    font-family: var(--title-font);
}
